<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links APP</title>
    {{!-- GOOGLE FONTS --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    {{!-- FRAMEWORK BOOSTRAP 5 --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {{!-- Biblioteca para Iconos --}}
    <script src="https://kit.fontawesome.com/b9c525830b.js" crossorigin="anonymous"></script>
    {{!-- STYLES (Personalizados) --}}
    <link rel="stylesheet" href="/css/styles.css">


</head>
<body>
    
    {{> navigation}}
    {{{ body }}}

</body>
</html>